<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Live Webcam Feed</h1>
    <img id="feed" style="width: 100%;">

    <script>
        const feed = document.getElementById('feed');
        const serverUrl = 'https://piserver-i952.onrender.com/stream_feed';  // Updated URL

        feed.src = serverUrl;
    </script>
</body>
</html>
